html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial;
}

.section {
  height: 50%;
  padding: 0 10px;
}

.section-upper {
  border-bottom: 5px solid grey;
}

.section-lower {
  padding-top: 30px;
  background-color: lightgrey;
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.content-upper {
  padding-top: 50px;
}

.content-upper strong {
  color: rgb(3, 191, 3);
}

.content-upper h1 {
  margin-bottom: 40px;
}

.content-lower {
  background-color: hsl(50, 0%, 100%);
}
.content-lower > h1 {
  margin-top: -10px;
  margin-left: -40px;
  padding: 20px;
  background-color: hsl(49, 100%, 50%);
  border-bottom: 5px solid hsl(50, 58%, 46%);
}
